<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.apertium.android"
          android:versionCode="10"
          android:versionName="2.4.2" >

  <uses-sdk android:minSdkVersion="4"
              android:targetSdkVersion="10" />

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.READ_SMS" />

  <!-- Note the use of android:largeHeap as offline machine translation is memory intensive -->
  <application
    android:largeHeap="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:name="org.apertium.android.simple.App"
    android:theme="@style/MainAppTheme">
    <!--
>
    android:configChanges="orientation|keyboardHidden">
-->


    <activity
      android:name=".simple.SimpleApertiumActivity"
      android:label="@string/app_name"
      android:windowSoftInputMode="stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".simple.InstallActivity"/>
    <activity android:name=".simple.SettingsActivity"/>



    <activity
      android:name=".extended.ExtendedApertiumActivity"
      android:label="@string/app_name"
      android:configChanges="orientation"
      android:windowSoftInputMode="stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>

    <receiver android:name=".extended.widget.WidgetProvider" >
      <intent-filter >
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/widget_info" />
    </receiver>


    <activity android:name=".extended.filemanager.FileChooserActivity"/>
    <activity android:name=".extended.ManageActivity" android:configChanges="orientation"/>
    <activity android:name=".extended.InstallActivity" android:configChanges="orientation"/>
    <activity android:name=".extended.ModeManageActivity" android:configChanges="orientation"/>
    <activity android:name=".extended.widget.WidgetConfigActivity"/>
    <activity android:name=".extended.DownloadActivity" android:configChanges="orientation"/>
    <activity android:name=".extended.SMS.SMSInboxActivity" android:configChanges="orientation"/>

  </application>

</manifest>