<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.apertium.android"
          android:versionCode="98"
          android:installLocation="auto"
          android:versionName="0.98" >

  <uses-sdk android:minSdkVersion="7"
              android:targetSdkVersion="17" />

  <uses-permission android:name="android.permission.INTERNET"/>

<!-- For extended app
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_SMS" />
-->

  <uses-feature android:name="android.hardware.telephony" android:required="false" />
  <uses-feature android:name="android.hardware.location" android:required="false" />
  <uses-feature android:name="android.hardware.location.gps" android:required="false" />
  <uses-feature android:name="android.hardware.location.network" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.software.live_wallpaper" android:required="false" />
  <uses-feature android:name="android.hardware.screen.portrait" android:required="false" />

  <!-- TODO Note the use of android:largeHeap as offline machine translation is memory intensive -->
  <application
    android:largeHeap="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:name="org.apertium.android.App"
    android:theme="@style/MainAppTheme">

    <activity
      android:name=".TranslatorActivity"
      android:label="@string/app_name"
      android:windowSoftInputMode="stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
    <activity android:name=".InstallActivity"
      android:label="Apertium install language pair"
    >
      <!-- only for extended activity
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="application/zip" />
      </intent-filter>
      -->
    </activity>
    <activity android:name=".SettingsActivity"/>


<!--
    <activity
      android:name=".extended.ExtendedApertiumActivity"
      android:label="@string/app_name"
      android:configChanges="orientation"
      android:windowSoftInputMode="stateHidden">
    </activity>

    <receiver android:name=".extended.widget.WidgetProvider" >
      <intent-filter >
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>

      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/widget_info" />
    </receiver>


    <activity android:name=".extended.filemanager.FileChooserActivity"/>
    <activity android:name=".extended.ManageActivity" android:configChanges="orientation"/>
    <activity android:name=".extended.InstallActivity" android:configChanges="orientation"/>
    <activity android:name=".extended.ModeManageActivity" android:configChanges="orientation"/>
    <activity android:name=".extended.widget.WidgetConfigActivity"/>
    <activity android:name=".extended.DownloadActivity" android:configChanges="orientation"/>
    <activity android:name=".extended.SMS.SMSInboxActivity" android:configChanges="orientation"/>
-->
  </application>

</manifest>