<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.apertium.android"
          android:versionCode="101"
          android:installLocation="auto"
          android:versionName="1.01" >

  <uses-sdk android:minSdkVersion="7"
              android:targetSdkVersion="18" />

  <uses-permission android:name="android.permission.INTERNET"/>

  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

  <!-- TODO Note the use of android:largeHeap as offline machine translation is memory intensive -->
  <application
    android:largeHeap="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme"
    android:name="org.apertium.android.App"
>
<!--
-->

    <activity
      android:name="org.apertium.android.TranslatorActivity"
      android:label="@string/app_name"
      android:windowSoftInputMode="stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="text/plain" />
      </intent-filter>
    </activity>
    <activity android:name="org.apertium.android.InstallActivity"
      android:label="Apertium install language pair"
    >
    </activity>
    <activity android:name="org.apertium.android.SettingsActivity"/>

  </application>

</manifest>